name: Build container using Earthfile
on:
  push:
    branches:
      - main
  pull_request:

  # Allow for manually running
  workflow_dispatch:
    inputs:
      container_tag:
        description: Tag for container
        default: 'latest'
        required: true

permissions:
  packages: write

jobs:
  container:
    runs-on: ubuntu-20.04

    env:
      CONTAINER_NAME: ghcr.io/${{ github.repository }}
      BUILD_PLATFORMS: linux/amd64
      RAW_CONTAINER_TAG: ${{ github.event.inputs.container_tag || github.event.pull_request.head.ref || 'latest' }}
      RAW_REF_NAME: ${{ github.event.pull_request.head.ref || github.ref }}

    steps:
      #- name: Set up QEMU
      #  uses: docker/setup-qemu-action@v2

      - name: Setup earthly
        uses: earthly/actions-setup@v1.0.8
        with:
          version: 0.7.15

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v3
        with:
          submodules: recursive

      # Needed for buildx gha cache to work
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v2

      - name: Build container
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          CONTAINER_TAG=$(echo "${RAW_CONTAINER_TAG:0:128}" | sed 's/[^a-zA-Z0-9]\+/-/g')

          earthly build --ci ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && '--push' || '' }} \
            +glitch --CONTAINER_TAG="$CONTAINER_TAG"
